@CHARSET "UTF-8";

body{
	font-family: Arial, Helvetica, sans-serif;
}

.container{
	width: 800px;
	margin: 20px auto;
}
#logo{
	z-index: -1;
	position: relative;
}

#stage{
	height: 640px;
	background-color: #ccddee;
	position: relative;
}

.hud{
	position: absolute;
	font-weight: bold;
	top: 20px;
	left: 20px;
}